.flod-up {
  &-enter {
    transform: translateY(100%);
  }
  &-enter-active {
    transform: translateY(0);
  }
  &-exit {
    transform: translateY(0);
  }
  &-exit-active {
    transform: translateY(-100%);
  }
}

.flod-down {
  &-enter {
    transform: translateY(-100%);
  }
  &-enter-active {
    transform: translateY(0);
  }
  &-exit {
    transform: translateY(0);
  }
  &-exit-active {
    transform: translateY(100%);
  }
}
