@font-face {
  font-family: 'SmileySans';
  src: url('@/assets/font/SmileySans-Oblique.otf.woff2') format('woff2'),
    url('@/assets/font/SmileySans-Oblique.ttf.woff2') format('woff2');
}

.light {
  background-color: #efeff4;
}
.dark {
  background-color: #1e1d2b;
}

html {
  transition: background-color 0.3s ease;
}

* {
  font-family: SmileySans, 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

button {
  border: 0;
  outline: none;
  font-family: SmileySans, 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
